* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

body {
    background-color: #f0f8ff; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #378a83;
    color: rgba(226, 230, 2, 0.836);
}

h1 {
    text-align: center;
    padding: 20px;
}

nav {
    display: flex; 
    justify-content: center; 
    background-color: rgba(231, 78, 78, 0.932);
}

nav ul {
    display: flex; 
    list-style-type: none; 
}

nav li {
    margin: 0 15px; 
}

.logo {
    position: absolute; 
    top: 3px; 
    left: 3px; 
    width: 140px; 
    height: auto; 
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #dd9f41; 
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: lightblue; 
    margin: 25px; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%; /* Cambiado a 100% */
    max-width: 250px; /* Ajusta el ancho máximo */
    height: auto; 
    margin-top: 60px; 
}

p {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    text-align: center; 
    margin-top: 10px; 
}

.image-container {
    text-align: right;
    margin-top: 20px;
}

img {
    max-width: 100%; 
    height: auto; 
}

.text {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 15%; 
    left: 0%; 
    width: 100%; 
    z-index: 1000;
}

.parrafo {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
    font-size: 18px;
}

.otroparrafo {
    font-family: Arial, Helvetica, sans-serif;
    
    max-width: 350px; 
    margin: 0 auto; 
    padding: 0px; 
    box-sizing: border-box; 
    font-size: 18px;
    position: absolute;
    top: 100%; 
    right: 0; /* Cambiado a 0 para evitar desbordamiento */
    width: 100%; /* Cambiado a 100% */
    z-index: 1000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
}